Adrien's/
*desktop.ini
.Rproj.user
*~$*
*.tmp
*.RDataTmp
*.RDataTmp1
*.dta
*.RData
*.RData.bak
*.Rhistory
*.RprofileUnused
*.Rproj.user/
*.rproj
*PC_DGURBA_2018.csv
*zipcodes_UK.csv
*zipcodes_UK_original.csv
*/build/*